<div>
	<button ng-show="vm.expandTopButton" ng-click="vm.expandTopAll()" title="Expand Top Dims" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--plus"></span><span class="lui-button__icon  lui-icon  lui-icon--handle-horizontal"></span>
	</button>
	<button ng-show="vm.collapseTopButton" ng-click="vm.collapseTopAll()" title="Collapse Top Dims" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--minus"></span><span class="lui-button__icon  lui-icon  lui-icon--handle-horizontal"></span>
	</button>
	<button ng-show="vm.expandLeftButton" ng-click="vm.expandLeftAll()" title="Expand Left Dims" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--plus"></span><span class="lui-button__icon  lui-icon  lui-icon--handle"></span>
	</button>
	<button ng-show="vm.collapseLeftButton" ng-click="vm.collapseLeftAll()" title="Collapse Left Dims" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--minus"></span><span class="lui-button__icon  lui-icon  lui-icon--handle"></span>
	</button>
	<button ng-show="vm.fullExpandedOnButton" ng-click="vm.fullExpandOn()" title="Full Expand on" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--plus"></span><span class="lui-button__icon  lui-icon  lui-icon--high-resolution"></span>
	</button>
	<button ng-show="vm.fullExpandedOffButton" ng-click="vm.fullExpandOff()" title="Full Expand off" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--minus"></span><span class="lui-button__icon  lui-icon  lui-icon--high-resolution"></span>
	</button>
	<button ng-show="vm.indentModeOnButton" ng-click="vm.indentModeOn()" title="Indent Mode on" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--plus"></span><span class="lui-button__icon  lui-icon  lui-icon--settings"></span>
	</button>
	<button ng-show="vm.indentModeOffButton" ng-click="vm.indentModeOff()" title="Indent Mode off" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--minus"></span><span class="lui-button__icon  lui-icon  lui-icon--settings"></span>
	</button>
	<button ng-show="vm.rotateLeftTopButton" ng-click="vm.rotateLeftTop()" title="Rotate Top Dims to Left" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--arrow-left"></span><span class="lui-button__icon  lui-icon  lui-icon--handle-horizontal"></span>
	</button>
	<button ng-show="vm.rotateRightTopButton" ng-click="vm.rotateRightTop()" title="Rotate Top Dims to Right" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--arrow-right"></span><span class="lui-button__icon  lui-icon  lui-icon--handle-horizontal"></span>
	</button>
	<button ng-show="vm.rotateLeftLeftButton" ng-click="vm.rotateLeftLeft()" title="Rotate Left Dims to Left" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--arrow-left"></span><span class="lui-button__icon  lui-icon  lui-icon--handle"></span>
	</button>
	<button ng-show="vm.rotateRightLeftButton" ng-click="vm.rotateRightLeft()" title="Rotate Left Dims to Right" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--arrow-right"></span><span class="lui-button__icon  lui-icon  lui-icon--handle"></span>
	</button>
	<button ng-show="vm.transposeDimsButton" ng-click="vm.transposeDims()" title="Transpose Dims" class="lui-button  lui-button--round" style="margin-bottom: 5px;">
        <span class="lui-button__icon  lui-icon  lui-icon--pivot"></span>
	</button>
</div>